*.Cache
*.Settings
*.bat
*.class
*.exe
*.jar
*.log
*.map
*.nupkg
*.sdsettings
*.shf*
*.suo
*.txt
*.user
*.userprefs
*.versionsBackup
.classpath
.nuget/
.pmd
.project
.settings/
Help/
ProfilingSessions/
TestResults/
bin/
encoding/
extras/util/
obj/
packages/
release.properties
target/
h3du_all.js
