*.Cache
*.Settings
*.bat
*.class
*.exe
*.jar
*.log
*.nupkg
*.sdsettings
*.shf*
*.suo
*.svg
*.txt
*.user
*.userprefs
*.versionsBackup
.classpath
.pmd
.project
.settings/
Help/
ProfilingSessions/
TestResults/
bin/
extras/util/
obj/
packages/
release.properties
target/
